.botao, .botaoSecondary, .botaoDanger {
    font-size: 1rem; /* Tamanho de fonte mais padrão para melhor legibilidade */
    font-weight: 400; /* Peso de fonte normal para um visual mais limpo */
    color: #fff; /* Cor branca para o texto em todos os botões, exceto o secundário */
    padding: 10px 20px; /* Ajuste no padding para uma proporção mais equilibrada */
    margin: 10px; /* Diminuição da margem para evitar espaçamento excessivo */
    border-radius: 5px; /* Raio da borda mais sutil */
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center; /* Correção de propriedade para centralização */
}

.botao {
    background-color: #5A67D8; /* Cor de fundo mais suave */
}

.botaoSecondary {
    color: #5A67D8; /* Cor de texto para contraste com o botão secundário */
    background-color: transparent; /* Fundo transparente para estilo secundário */
    border: 2px solid #5A67D8; /* Borda visível para distinguir */
}

.botaoDanger {
    background-color: #E53E3E; /* Cor mais padrão para ações de perigo */
}

.botao:hover, .botaoSecondary:hover, .botaoDanger:hover {
    transform: scale(1.05); /* Transformação mais sutil no hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave para efeito de elevação */
}

.icon {
    margin-right: 5px; /* Margem para separar o ícone do texto */
}

.buttonIconDelete, .buttonIconEdit {
    color: inherit; /* Herda a cor do pai para consistência */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o ícone dentro do botão */
    transition: transform 0.2s;
}

.buttonIconDelete {
    color: #E53E3E; /* Cor para ação de deletar */
}

.buttonIconEdit {
    color: #3182CE; /* Cor para ação de editar */
}

.buttonIconDelete:hover, .buttonIconEdit:hover {
    transform: scale(1.1); /* Efeito de escala consistente para ícones */
}