.resgisterQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    padding: 50px;
    width: 70%;
}

.erro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: rgb(215, 132, 132);
    width: 50%;
    height: 50px;
    border: rgb(218, 144, 144) solid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}