.table {
    width: 100%;
    background-color: #fff;
}

.tableRow {
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-top: 0.7px solid rgb(163, 163, 163);

}

.tableHeader {
    background-color: rgb(220, 220, 220);
    padding: 20px;
}

.tableButtons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

